*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color: rgb(130, 253, 216);
}

/* -------- styling the header ---------------- */
#header{
    font-size: 30pt;
    text-align: center;
    letter-spacing: 1.5px;
    margin: 5px auto;
}
#header h1{
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;

}
/* ---------------- styling the main container ------------- */
#main{
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 5px auto;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* --------------- the side container --------------------- */
#side-container{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    display: block;
    margin: 10px 5px;
    background-color: rgb(219, 219, 219);
    width: 200px;
    height: 55px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
    transition: transform 0.1s ease-in-out;
}
.active{
    background-color: #414141;
    color: #ffffff;
}
input[type="color"]{
    width: 100px;
    height: 100px;
    border: none;
    background-color: transparent;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 50%;
}
input[type="color"]:focus{
    background-color: transparent;
}
#span-range{
    font-size: 24px;
    margin: 20px auto 5px auto;
}
input[type="range"]{
    margin-bottom: 20px;
    width: 100%;
    max-width: 200px;
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 29px;
    width: 28px;
    border-radius: 27px;
    background: #414141;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.5px;
  }
/* --------------- the Second container aka the Grid container ----------------- */

.grid{
    max-width: 500px;
    width: 500px;
    max-height: 500px;
    height: 500px;    
    background-color: #ffff;
    box-shadow: 0px 0px 15px rgb(112, 112, 112);
    display: grid;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
}
.show-grid{
    border: 0.1px dashed lightgray;
}
/* --------------- styling the footer --------------------- */

footer{
    display: flex;
    font-size: 20px;
    background-color: #524f4f;
    color: #ffff;
    margin-top: 5px;
    height: 2em;
    justify-content: center;
    align-items: center;
}
footer >a{
    text-decoration: none;
    background-color: #524f4f;
}
#github-logo{
    background-color: white;
    transition: transform 0.3s;
}
#github-logo:hover{
    transform: rotate(360deg);
    
}
.grid-cells{
    background-color: inherit;
}