*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    background-color: rgb(187, 214, 118);

}


#user-input{
    width: 100%;
    max-width: 600px;
    font-weight: 600;
    padding: 15px;
    margin: 50px auto;
}
#user-input label{
    font-size: 24px;
    height: 35px;
}
#user-input input{
    display: block;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    background-color: white;
    font-size: 26px;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
}
#user-input button{
    display: block;
    background-color: aqua;
    width: 300px;
    height: 35px;
    font-size: 22px;
    padding: 5px;
    border-radius: 15px;
    margin: 10px auto;
    letter-spacing: 3px;
    cursor: pointer;
}
#container{
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.row,.colm{
    border: 2px solid rgb(0, 21, 255);
    width: 16px;
    height: 16px;
    margin: 1px;
    text-align: center;
    font-size: 14px;
}

input[type="color"]{
    width: 80px;
    height: 80px;
    -webkit-appearance:none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
}
input[type="color"]::-webkit-color-swatch{
    border-radius: 50%;
    border: 7px solid black;
}